#header {
	 text-align: center;
}

#DivCanvas, #DivControls {
	float: left;
	margin-left: 30px;
}

#DivFooter {
	clear: both;
}

input[type="text"] {
	width: 50px;
}

.label {
	display: block;
	float: left;
	clear: left;
	width: 240px;
	text-align: right;
	margin-right: 10px;
}

#btnPlot {
	width: 100px;
}