.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

html {
	height: 100%;
	color: darkslategray;
	font-family: Verdana, Geneva, sans-serif;
	margin-left: 10px;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.links {
	background-color: lightgray;
	padding: 5px;
}

#percent, #aperture
{
	clear: both;
	text-align: left;
}

#footer
{
	clear: both;
}

.title {
	text-align: center; 
}

.label {
	text-align: right; 
}

.verticalAlignTop {
	vertical-align: top; 
}

.inputText {
	width: 100px;
}

.coordText {
	text-align: right; 
	width: 100px;
}

.sagittaButton {
	width: 220px;
}

#diagChart {
	margin-top: 20px; 
	margin-bottom: 20px; 
	margin-left: 20px; 
	width: 800px; 
	height: 300px;
}

#visualDetectionCalcChart, #airmassChart, #refractionChart {
	margin-top: 20px; 
	margin-left: 20px; 
	width: 600px; 
	height: 300px;
}

#priAxisMountErrorsPlot {
	margin-top: 20px; 
	margin-left: 20px; 
	width: 700px; 
	height: 400px;
}

.pitchLapDiv {
	margin: 10px;
	float: left;
}

.pitchLapNotes {
	text-align: left;
}

@media all and (min-width: 0px) {
	.genImage {
		width: 100%; 
		height: 100%;
	}
}

@media all and (min-width: 768px) {
	.genImage {
		width: 50%; 
		height: 50%;
	}
}

