.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: Verdana, Geneva, sans-serif;
	height: 100%;
	margin-right: auto;
	margin-left: 10px;
}

#titleText {
	text-align: center;
}

#titleTextDiv {
	float: left;
	width: 40%;
	padding-left: 1%;
	padding-right: 1%;
}

.titleImage1 {
	float: left;
	width: 20%;
	padding-left: 1%;
	padding-right: 1%;
}

.titleImage2 {
	float: left;
	width: 30%;
	padding-left: 1%;
	padding-right: 1%;
}

.title {
	text-align: center;
}

.slider {
	width: 400px;
}

.sliderHalf {
	width: 200px;
}

.designSelect {
	float: left;
	width: 175px;
	padding: 5px;
	margin: 5px;
  	background: lightgrey;
}

#divScrollToTop {
	text-align: center;
}

#btnScrollToTop {
	width: 200px;
	padding: 10px;
	margin: 10px;
  	background: lightgrey;
}

.designers {
	clear: both;
}

.designerImage {
	display: none;
}

.designer {
	display: none;
}

td.fitWidth {
    width: 1px;
    white-space: nowrap;
}

td.lightgreyCell {
	background-color: lightgrey;
	align: right;
}

td.darkgreyCell {
	background-color: darkgrey;
	align: right;
}

td.lightGreenCell {
	background-color: rgb(102, 255, 153);
}

td.darkGreenCell {
	background-color: rgb(80, 200, 120);
}

thead tr th:first-child, tbody tr td:first-child {
	width: 30em;
}

#magnificationTable td,
#apparentFOV td,
#CGTable td,
#visualInputsTable td,
#visualDetectionResultsTable td,
#starCountTable td,
#exitPupilTable td,
#maxApertureTable td,
#M31compareTable td,
#HETvsRFTTable td,
#focalRatiosForEyepiecesWith8mmExitPupil td,
#apertureFocalRatioConstantFocalLength td,
#diagResultsTable td,
#focuserTolerance td,
#offAxisMaskResultsTable td {
	table-layout: fixed;
	width: auto; !important;
}

#focuserTolerance th {
	padding: 0px 20px 0px 0px;
}

#panMountComparisonTable {
	border-spacing: 5px;
}

#panMountComparisonTable td {
	border: 1px solid gray;
}

#telescopeEyepieceMode {
	border: 0;
	border-collapse: collapse;
	cellpadding: 3;
	cellspacing: 0;
}

#telescopeEyepieceMode tr {
	height: 25px;
}

#telescopeEyepieceMode td {
	table-layout: fixed;
	width: auto; !important;
}

.magnificationTable {
	border: 1px solid black;
	border-collapse: collapse;
}
.magnificationTable td {
	border: 1px solid black;
}

.tableHeaderRow {
	font-weight: bold;
}

.tableColumnsFirstColor {
	background-color: rgb(204, 255, 255);
}

.tableColumnsSecondColor {
	background-color: rgb(204, 204, 204);
}

.tableColumnsThirdColor {
	background-color: rgb(255, 255, 204);
}

.tableColumnsFourthColor {
	background-color: rgb(153, 255, 153);
}

.calcSectionHeader {
	font-weight: bold;
}

/* match with JavaScript generated css */
.columnHeaders {
	font-weight: bold;
	padding-right: 10px;
}

.imageTextWrap {
	float: left;
	margin: 0px 20px;
}

.floatDiv {
    float: left;
}

.forceDisplayToRight {
	overflow: hidden;
}

.stopFloat {
	clear: both;
}

.inputText {
	width: 100px;
}

.inputDiags {
	width: 500px;
}

#objectCalculatedSurfaceBrightness {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	width: 500px;
	border: none;
}
#objectCalculatedSurfaceBrightness:focus {
    outline: none;
}

#visualDetectionCalcChart {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	width: 600px;
	height: 300px;
}

#diagChart {
	//to align the charts comment this out --- margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 40px;
	margin-right: 40px;
	width: 700px;
	height: 300px;
}

#diagIntegratedIllumChart {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 40px;
	margin-right: 40px;
	width: 600px;
	height: 300px;
}

#visualDetectionSQMsForObjectContrastsChart {
	margin-left: 30px;
}

.indent {
	padding-left: 56px;
}

.equation {
	font-style: italic;
}

.label {
	text-align: right;
	vertical-align: top;
	width: 300px;
}

.smallSizeImage {
	margin: 5px;
	width: 15%;
	height: 15%;
}

.mediumSizeImage {
	margin: 5px;
	width: 30%;
	height: 30%;
}

.largeSizeImage {
	margin: 5px;
	width: 60%;
	height: 60%;
}

.verticalAlignMiddle {
	vertical-align: middle;
}

/* for accordion collapsing sections
   .active class added/removed in JS */
.accordion {
	background-color: #ddd;
	color: #444;
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: large;
	font-weight: bold;
	padding: 15px;
	width: 100%;
	border: none;
	outline: none;
}
.accordion:hover {
	background-color: #bbb;
}
.accordion:after {
	content: '\2795'; /* '+' */
	float: right;
	color: #888;
}
.active:after {
	content: '\2796'; /* '-' */
}

.panel {
	margin-left: 30px;
	display: none;
	overflow: hidden;
}
