.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

html {
	height: 100%;
	color: darkslategray;
	font-family: Verdana, Geneva, sans-serif;
	margin-left: 10px;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.links {
	background-color: lightgray;
	padding: 5px;
}

.titleFlexArea {
	display: flex; 
	align-items: center;
}

.titleImg {
	float: left;
	padding: 1%; 
	width: 80%;
	height: 80%;
}

/* 
	http://mydevice.io/devices/
	Samsung S4 css resolution is 360x640 
	iPad css resolution is 768x1024
	
*/

@media all and (min-width: 0px) {
	.titleSection {
		clear: both;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.textSection {
		clear: both;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.genImage {
		width: 100%; 
		height: 100%;
	}
}

@media all and (min-width: 768px) {
	.titleSection {
		clear: both;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	.textSection {
		clear: both;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	.genImage {
		width: 40%; 
		height: 40%;
	}
}
