html {
	font-family: Verdana, Geneva, sans-serif;
	margin-left: auto;
	margin-right: auto;
}

.title {
	text-align: center;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%/4, max(180px, 100%/10)), 1fr));
}

.grid-item {
	margin: 1px;
	padding: 1px;
	border: 2px solid white;
	background: #e3e3e3;
}

.label {
	text-align: right;
}

.inputTextShort {
	width: 50px;
}

.inputText {
	width: 50px;
}

.inputTextLong {
	width: 75px;
}

#sliderOffset, #sliderParabolicCorrection {
	width: 150px;
	vertical-align: middle;
}

.floatLeftDiv {
	float: left;
	padding: 10px;
}

.inputDiv {
	padding: 5px;
	// don't breakup explanatory text from the user input area
	white-space: nowrap;
}

.exampleDiv {
	padding: 5px;
	background-color: lightgray;
}

.floatLeftRonchigramsDiv {
	float: left;
	padding: 5px;
}

.zonalErrorsTableDiv {
	float: left;
	padding: 0px 15px 15px 15px;
}

.zonalErrorsViewDiv {
	float: left;
}

.discussionDiv {
	float: left;
	width: 44%;
	padding: 5px;
}

.zonalErrorsNotesDiv {
	float: left;
	width: 50%;
	padding: 5px;
}

.clearFloat {
	clear: both;
}

.exBtn {
	width: 100px;
}

@media all and (min-width: 0px) {
	.bigImage {
		width: 100%;
		height: 100%;
	}
	.smallImage {
		width: 30%;
		height: 30%;
	}
}

@media all and (min-width: 768px) {
	.bigImage {
		width: 50%;
		height: 50%;
	}
	.smallImage {
		width: 15%;
		height: 15%;
	}
}

