html {
	font-family: Verdana, Geneva, sans-serif; 
	margin-left: auto; 
	margin-right: auto;
}

.floatLeftHalfWidthDiv {
	float: left;
	padding: 5px;
	width: 48%;
}

.clearFloat {
	clear: both;
}

.imageTextWrap {
	float: right;
}

.untouched {
	width: auto;
	height: auto;
}

.flexArea {
	display: flex; 
	align-items: center;
}

.tableHeaderRow {
	font-weight: bold;
}

.tableColumnsFirstColor {
	background-color: rgb(204, 255, 255);
}

.tableColumnsSecondColor {
	background-color: rgb(204, 204, 204);
}

.tableColumnsThirdColor {
	background-color: rgb(255, 255, 204);
}

.tableColumnsFourthColor {
	background-color: rgb(153, 255, 153);
}

@media all and (min-width: 0px) {
	html {
		width: 95%; 
	}
	img {
		margin: 10px;
		width: 60%;
	}
	.bigImage {
		width: 80%;
	}
	.smallImage {
		width: 35%;
	}
	.unscaledImage {
		width: 95%;
	}
}
@media all and (min-width: 768px) {
	html {
		width: 80%; 
	}
	img {
		margin: 10px;
		width: 40%;
	}
	.bigImage {
		width: 60%;
	}
	.smallImage {
		width: 25%;
	}
	.unscaledImage {
		width: 95%;
	}
}
