.calcSectionHeader {
	font-weight: bold;
}
.inputText {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	width: 50px;
}
#eyepieces {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
}
.label {
	text-align: right; 
	vertical-align: top;
}
.indent {
	padding-left: 56px;
}
.equation {
	font-style: italic;
}
input[type='button'] {
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
}
