.calcSectionHeader {
	font-weight: bold;
}
.calculatorChoiceRow {
	background-color: #dddddd;
}
.apertureRow {
	background-color: #dddddd;
}
.focalRatioRow {
	background-color: #dddddd;
}
.fieldOfViewRow {
	background-color: #dddddd;
}
.eyePupilRow {
	background-color: #dddddd;
}
.comaCorrectorRow {
	background-color: #dddddd;
}
.selectEyepieceRow {
	background-color: #dddddd;
}
.eyepieceFocalLengthRow {
	background-color: #dddddd;
}
.eyepieceFieldStopRow {
	background-color: #dddddd;
}
.detailsRow {
	background-color: #dddddd;
}	
input[type='button'] {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	background-color: #dd8888;
}
.inputText {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	width: 50px;
}
#eyepieces {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
}

