html {
	height: 100%;
	color: darkslategray;
	font-family: Verdana, Geneva, sans-serif;
	margin-left: 10px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.title {
	text-align: center;
}

.links {
	background-color: lightgray;
}

.topLinks {
	background-color: lightgray;
	font-weight: bold;
	float: left;
	margin: 5px;
}

.bigImage {
	width: 90%;
	height: 90%;
}

table {
	border-collapse: collapse;
}

.myProjectsTableImageColumn {
	width: 30%;
}

.myProjectsTableTextColumn {
	width: 70%;
}

.myProjectsImage {
	width: 80%;
}

.myProjectsHalfImage {
	width: 40%;
}

.telescope {
	float: left;
	height: 200px;
	width: 300px;
	padding: 10px 10px;
}

.articleColumn {
	width: 50%;
	float: left;
	padding: 0px 5px;
}

.textSections {
	clear: both;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
