
html {
	height: 100%;
	color: darkslategray;
	font-family: Verdana, Geneva, sans-serif;
	margin-left: 10px;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

.title {
	text-align: center;
}

.links {
	background-color: lightgray;
	padding: 5px;
}

.bigImage {
	width: 90%;
	height: 90%;
}

.recentProject {
	margin: 10px;
}

/* 
	http://mydevice.io/devices/
	Samsung S4 css resolution is 360x640 
	iPad css resolution is 768x1024
	
*/

@media all and (min-width: 0px) {
	/* if single column, then drop uniform height */
	.telescope {
		float: left;
		width: 250px;
		padding: 20px 0px;
	}
	.articleColumn {
		width: 100%;
		float: left;
		padding: 0px 5px;
	}
	.textSections {
		clear: both;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

/* 500px wide because .telescope width set to 250px */
@media all and (min-width: 500px) {
	.telescope {
		float: left;
		height: 200px;
		width: 250px;
	}
}

@media all and (min-width: 768px) {
	.telescope {
		float: left;
		height: 200px;
		width: 250px;
		padding: 10px 10px;
	}
	.articleColumn {
		width: 50%;
		float: left;
		padding: 0px 5px;
	}
	.textSections {
		clear: both;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
}
